pyrogram>=2.0.106
TgCrypto>=1.2.5
aiohttp>=3.8.5
motor>=3.3.1
pymongo>=4.5.0
yt-dlp>=2023.10.13
python-dotenv>=1.0.0
dnspython>=2.4.2
libtorrent>=2.0.9
ffmpeg-python>=0.2.0
Pillow>=10.0.1
opencv-python>=4.8.1.78
